# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar
dependency-reduced-pom.xml
pom.xml.versionsBackup

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.idea/
.idea/
*.iml



/temp/
/dist.zip
/dist/

/.idea
/temp
/em/embedded/rest/features-service/src/evo/
/em/embedded/rest/scout-api/src/evo/
/em/embedded/rest/ocvn/src/evo/
/em/external/rest/scout-api/src/evo/
/em/external/rest/ncs/src/evo/
/em/external/rest/proxyprint/src/evo/
/em/embedded/rest/ncs/src/evo/
/em/embedded/rest/scs/src/evo/
/em/external/rest/features-service/src/evo/
/em/embedded/rest/proxyprint/src/evo/
/em/embedded/rest/catwatch/src/evo/
/em/embedded/rest/news/src/evo/
/em/external/rest/ind0/src/evo/
/cs/rest-gui/ocvn/ui/node_modules/
/cs/rest-gui/ocvn/ui/node/
/cs/rest/artificial/ncs/target/
/cs/rest/artificial/news/target/
/cs/rest/artificial/scs/target/
/cs/rest/original/catwatch/catwatch-backend/target/
/cs/rest/original/features-service/target/
/cs/rest/original/proxyprint/target/
/cs/rest/original/scout-api/api/target/
/cs/rest/original/scout-api/auth/target/
/cs/rest/original/scout-api/data-access/target/
/cs/rest/original/scout-api/data-batch-jobs/target/
/cs/rest-gui/ocvn/forms/target/
/cs/rest-gui/ocvn/persistence/target/
/cs/rest-gui/ocvn/persistence-mongodb/target/
/cs/rest-gui/ocvn/target/
/cs/rest-gui/ocvn/ui/target/
/cs/rest-gui/ocvn/web/target/
/em/embedded/rest/catwatch/target/
/em/embedded/rest/features-service/target/
/em/embedded/rest/ncs/target/
/em/embedded/rest/news/target/
/em/embedded/rest/proxyprint/target/
/em/embedded/rest/scout-api/target/
/em/embedded/rest/scs/target/
/em/external/rest/catwatch/target/
/em/external/rest/features-service/target/
/em/external/rest/ind0/target/
/em/external/rest/ncs/target/
/em/external/rest/news/target/
/em/external/rest/proxyprint/target/
/em/external/rest/scout-api/target/
/em/external/rest/scs/target/
/em/embedded/rest/ocvn/derby.log
/em/external/rest/ocvn/src/evo/
/em/external/rest/ocvn/target/
/em/embedded/rest/ocvn/target/
/cs/rest/original/languagetool/languagetool-core/target/
/cs/rest/original/languagetool/languagetool-gui-commons/target/
/cs/rest/original/languagetool/languagetool-language-modules/all/target/
/cs/rest/original/languagetool/languagetool-language-modules/ar/target/
/cs/rest/original/languagetool/languagetool-language-modules/ast/target/
/cs/rest/original/languagetool/languagetool-language-modules/be/target/
/cs/rest/original/languagetool/languagetool-language-modules/br/target/
/cs/rest/original/languagetool/languagetool-language-modules/ca/target/
/cs/rest/original/languagetool/languagetool-language-modules/da/target/
/cs/rest/original/languagetool/languagetool-language-modules/de/target/
/cs/rest/original/languagetool/languagetool-language-modules/de-DE-x-simple-language/target/
/cs/rest/original/languagetool/languagetool-language-modules/el/target/
/cs/rest/original/languagetool/languagetool-language-modules/en/target/
/cs/rest/original/languagetool/languagetool-language-modules/eo/target/
/cs/rest/original/languagetool/languagetool-language-modules/es/target/
/cs/rest/original/languagetool/languagetool-language-modules/fa/target/
/cs/rest/original/languagetool/languagetool-language-modules/fr/target/
/cs/rest/original/languagetool/languagetool-language-modules/ga/target/
/cs/rest/original/languagetool/languagetool-language-modules/gl/target/
/cs/rest/original/languagetool/languagetool-language-modules/is/target/
/cs/rest/original/languagetool/languagetool-language-modules/it/target/
/cs/rest/original/languagetool/languagetool-language-modules/ja/target/
/cs/rest/original/languagetool/languagetool-language-modules/km/target/
/cs/rest/original/languagetool/languagetool-language-modules/lt/target/
/cs/rest/original/languagetool/languagetool-language-modules/ml/target/
/cs/rest/original/languagetool/languagetool-language-modules/nl/target/
/cs/rest/original/languagetool/languagetool-language-modules/pl/target/
/cs/rest/original/languagetool/languagetool-language-modules/pt/target/
/cs/rest/original/languagetool/languagetool-language-modules/ro/target/
/cs/rest/original/languagetool/languagetool-language-modules/ru/target/
/cs/rest/original/languagetool/languagetool-language-modules/sk/target/
/cs/rest/original/languagetool/languagetool-language-modules/sl/target/
/cs/rest/original/languagetool/languagetool-language-modules/sv/target/
/cs/rest/original/languagetool/languagetool-language-modules/ta/target/
/cs/rest/original/languagetool/languagetool-language-modules/tl/target/
/cs/rest/original/languagetool/languagetool-language-modules/uk/target/
/cs/rest/original/languagetool/languagetool-language-modules/zh/target/
/cs/rest/original/languagetool/languagetool-server/target/
/cs/rest/original/restcountries/target/
/em/embedded/rest/restcountries/src/evo/
/em/embedded/rest/restcountries/target/
/em/external/rest/restcountries/target/
/em/external/rest/restcountries/src/evo/
/em/embedded/rest/languagetool/target/
/em/external/rest/languagetool/target/
/cs/graphql/spring-petclinic-graphql/target
/em/embedded/graphql/spring-petclinic-graphql/target/
/em/external/graphql/spring-petclinic-graphql/target/
/em/embedded/graphql/spring-petclinic-graphql/src/main/em/
/em/external/graphql/spring-petclinic-graphql/src/main/em/
/cs/graphql/graphql-ncs/target
/cs/graphql/graphql-scs/target
/em/embedded/graphql/graphql-ncs/target
/em/embedded/graphql/graphql-scs/target
/em/external/graphql/graphql-ncs/target
/em/external/graphql/graphql-scs/target
/cs/rest-gui/gestaohospital/target/
/em/external/rest/gestaohospital/target/
/em/embedded/rest/gestaohospital/target/



